.redAxis path, .redAxis line {
	stroke: red;
}
.redAxis text {
	fill: red;
}
#everything {
	display: flex;
}
.cls-1{fill:#999;}
.cls-2{fill:#f15a24;}
.cls-3,.cls-4{fill:none;stroke:#000;stroke-miterlimit:10;}
.cls-4{stroke-linecap:round;}

.mou-1{fill:#fff;}
.mou-1,.mou-2,.mou-3{stroke:#000;stroke-miterlimit:10;}
.mou-2{fill:#fff;}
.mou-3{fill:#666;}

#lightspeed, #observer {
	box-sizing: border-box;
	padding: 20px;
	height: 320px;
	width: 640px;
	overflow: hidden;
}
.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
}
.grid path, .gridx1 path, .gridx2 path, .gridy1 path, .gridy2 path {
  stroke-width: 0;
}
.gridx1 line, .gridx2 line, .gridy1 line, .gridy2 line {
	stroke: lightsalmon;
	stroke-opacity: 0.7;
}
#controls #slider {
	width: 400px;
}
#lightspeed #lighttrain, #observer #observetrain{
	position: relative;
	top: 145px;
}
#observer #observetrain svg{
	transform-origin: 0%;
}
#lightspeed #mountain,  #observer #mountain {
	position: relative;
	top: -55px;
	left: 250px;
	transform-origin: left center;
}
#graph {
	margin-top: -160px;
}
.x-label {
	position: relative;
	top: 700px;
	text-align: center;
}
.y-label {
	position: relative;
	top: 100px;
	right: 320px;
	transform: rotate(-90deg);
}